html {
  font-size: 16px;
}
.nav-link {
  font-size: 1.6rem;
}

body {
  font-family: "Saira Extra Condensed", sans-serif;
  padding-top: 72px;
  padding-bottom: 72px;
  color: rgb(255, 255, 255);
  background-color: rgb(97, 97, 97);
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  opacity: 15%;
  width: auto;
}

.container-content {
  padding: 1.5rem;
}

.about-text {
  font-size: 2rem;
}
/* for Particles to reach whole screen */
canvas {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: -1;
}

.name {
  font-weight: 700;
  font-size: 4rem;
}

.primary-title {
  color: rgb(255, 255, 255);
}

.secondary-title {
  color: rgb(214, 212, 212);
}

.avatar {
  border: 2px black solid;
}

.section {
  padding-top: 60px;
  height: 100vh;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
  text-decoration: none;
}

.section-title {
  font-weight: 700;
  font-size: 3rem;
}

.resume-date {
  font-size: 1.2rem;
}

.experience-text {
  font-size: 1.4rem;
}
