.nav-link {
  font-size: 20px;
}

body {
  padding-top: 100px;
  font-size: 20 em;
  background-color: rgb(97, 97, 97);
}
/* for Particles to reach whole screen */
canvas {
  display: block;
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
}
